body{
	background: skyblue;

}
.main{
	background:yellow;
	display: flex;
	justify-content: space-around;
margin: 5%;
border-radius: 5%;

}
.sub{
	background:pink;
	margin: 7%;
	border-radius: 5%;
	text-align: center;
box-shadow: 4px 4px 4px 4px;
}
img
{
	margin: 5%;
	border-radius: 5%;
	width: 20%;
	height: 20%;

}